:root{
    --backcolor: #e3fdfd;
    --azul-tom-claro: #cbf1f5;
    --azul-tom-medio: #a6e3e9;
    --azul-tom-escuro: #71c9ce;
    --grafite: #40514e;
    --vermelho: #ea545560;
    --preto: #2d405960;
  }